DB_DRIVER=postgres
DB_SOURCE=postgresql://postgres:(password)@localhost:(port)/(dbname)?sslmode=disable
SERVER_ADDRESS=0.0.0.0:(port)
TOKEN_SYMMETRIC_KEY=09876543211234567890098765432157
ACCESS_TOKEN_DURATION=15m